<body>
    <div id="vm" class="container">
        <p>[[ greeting ]]</p>
        <p>[[ flask_greeting ]]</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="{{ url_for('frontend_app.static', filename='index.js') }}"></script>
</body>
